<!DOCTYPE html>
<html lang="en" ng-app="pharlap">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="lens://css/lens.min.css" rel="stylesheet" media="screen">
  <link href="app://css/pharlap.css" rel="stylesheet" media="screen">
</head>
<body class="unselectable" ng-controller="PharlapCtrl">
  <div class="curtain">
    <div class="curtain-loader" ng-cloak>
      <progressbar class="progress-xs progress-striped active" value="curtain.progress"></progressbar>
      <p class="status">{{curtain.message}}</p>
      <p class="sub-status">{{curtain.submessage}}</p>
    </div>
  </div>
  <div class="page-container hide">
    <nav id="korobar" class="navbar navbar-default navbar-empty" role="navigation"></nav>

    <div class="page-content no-nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="sidebar">
              <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#general" data-toggle="tab"><i class="fa fa-fw fa-info"></i> General</a></li>
                <li><a href="#input" data-toggle="tab"><i class="fa fa-fw fa-keyboard-o"></i> Input <span class="badge tab-badge">{{countDeviceByClass('input')}}</span></a></li>
                <li><a href="#graphics" data-toggle="tab"><i class="fa fa-fw fa-desktop"></i> Graphics <span class="badge tab-badge">{{countDeviceByClass('graphics')}}</span></a></li>
                <li><a href="#network" data-toggle="tab"><i class="fa fa-fw fa-signal"></i> Network <span class="badge tab-badge">{{countDeviceByClass('network')}}</span></a></li>
                <li><a href="#sound" data-toggle="tab"><i class="fa fa-fw fa-volume-up"></i> Sound <span class="badge tab-badge">{{countDeviceByClass('sound')}}</span></a></li>
                <li><a href="#other" data-toggle="tab"><i class="fa fa-fw fa-cogs"></i> Other <span class="badge tab-badge">{{countDeviceByClass('other')}}</span></a></li>
                <li><a href="#settings" data-toggle="tab"><i class="fa fa-fw fa-sliders"></i> Settings</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="general">
                <div>
                  <h3>{{system.distribution.name}}</h3>
                  <p>v{{system.distribution.version}} ({{system.distribution.codename}}) <span ng-hide="!system.distribution.live"> - Live</span></p>
                </div>
                <div>
                  <h3>System</h3>
                  <p>Architecture: {{system.arch}}</p>
                  <p>CPU: {{system.cpu.model}}</p>
                  <p>RAM: {{util.formatHuman(system.memory.total)}} ({{util.formatHuman(system.memory.available)}} available)</p>
                  <p>Kernel: {{system.current_kernel}}</p>
                </div>

                <div class="hide">
                  <input type="text" value="3577" class="dial dial-cpu" data-min="1200" data-max="3600">
                  <input type="text" value="256456" class="dial dial-ram" data-min="0" data-max="8080964">
                  <input type="text" value="7535684" class="dial dial-swap" data-min="0" data-max="8142844">
                </div>

              </div>
              <div ng-repeat="type in types" class="tab-pane fade" id="{{type}}">
                <div ng-hide="countDeviceByClass(type)">
                  <h4 class="no-driver-label">No configurable {{type}} devices found.</h4>
                </div>
                <div ng-repeat="(path, pv) in filterDeviceByClass(type)" class="device-block">
                  <img ng-src="app://img/{{getIconName(pv.vendor)}}" class="device-logo"></img>
                  <div class="device-details">
                    <h1>{{pv.model}}</h1>
                    <h2>{{pv.vendor}}</h2>
                    <ul class="fa-ul">
                      <li ng-repeat="(driver,dv) in filterDrivers(pv.drivers)" ng-click="selectDriver(pv, driver)" class="click-target">
                        <i class="fa-li fa" ng-class="{'fa-circle-o': !isSelected(dv), 'fa-dot-circle-o': isSelected(dv)}"></i>
                        <div class="driver-details">
                          <p><span class="title">{{driver}}</span> <span class="version">({{dv.version}})</span></p>
                          <div class="device-modules" ng-hide="!driverHasModules(dv)">
                            <ul>
                              <li ng-repeat="module in dv.modules" class="">
                                <button ng-show="canEditModuleSettings()" class="btn btn-xs btn-default pull-right" ng-click="openModuleSettings(module); $event.stopPropagation();"><i class="fa fa-fw fa-cog"></i></button>
                                <p>Module: {{module}}<span ng-hide="!isBlacklisted(module)" class="label label-black" tooltip="Blacklisted"><i class="fa fa-fw fa-ban"></i></span><span ng-hide="!isLoaded(pv, module)" class="label label-default" tooltip="Loaded"><i class="fa fa-fw fa-check"></i></span><span ng-hide="!isRecommended(dv)" class="label label-success recommended" tooltip="Recommended"><i class="fa fa-fw fa-thumbs-o-up"></i></span></p>
                                <p ng-hide="!hasQuirks(module)">Quirks: {{getQuirks(module)}}</p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="settings">
                <h3>Driver Packages</h3>
                <div class="form-group">
                  <checkbox ng-model="settings.show_akmods">Show available akmod packages</checkbox>
                  <span class="help-block">akmod packages contain the modules in source code form. Provided there are no kernel API breaks, can be automatically built when a new kernels are released.</span>
                </div>
                <div class="form-group">
                  <checkbox ng-model="settings.show_kmods">Show available kmod packages</checkbox>
                  <span class="help-block">kmod packages contain compiled modules in pre-compiled form. They are built for a specific kernel and may not be immediately available when a new kernels are released.</span>
                </div>
                <h3>Blacklisting</h3>
                <div class="form-group">
                  <checkbox ng-model="settings.blacklist_other">Blacklist unselected modules for devices</checkbox>
                  <span class="help-block">Blacklisting all other modules will minimise driver conflicts by preventing multiple modules from being loaded for a particular device.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="form">
            <p><i ng-click="mockDevices()" class="fa fa-fw fa-thumbs-o-up"></i> No proprietary drivers are in use.</p>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <a ng-click="revertChanges()" class="btn btn-dark" ng-class="{disabled: hasChanges()}">Revert</a>
          <a ng-click="applyChanges()" class="btn btn-dark" ng-class="{disabled: hasChanges()}">Apply Changes</a>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/ng-template" id="moduleSettingsModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Module Settings: {{data.name}}</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Quirks</label>
        <input class="form-control" type="text" ng-model="data.settings.options"></input>
        <span class="help-block">Quirks provide a mechanism for additional parameters to be passed to the module when loading.</span>
      </div>
      <div class="form-group">
        <label>Blacklist</label>
        <checkbox ng-model="data.settings.blacklisted">Blacklist "{{data.name}}" module from loading</checkbox>
        <span class="help-block">Blacklisting a module will prevent it being loaded into the kernel via the modprobe utilities.</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-sm btn-success" ng-click="ok()">OK</button>
    </div>
  </script>

  <script type="text/ng-template" id="dnfProgressModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Applying Changes</h3>
    </div>
    <div class="modal-body">
      <progressbar class="progress-xs progress-striped active" value="progress"></progressbar>
      <p class="status">{{message}}</p>
    </div>
  </script>

  <script src="lens://js/lens.js"></script>
  <script src="app://js/pharlap.js"></script>
</body>
</html>
