[Desktop Entry]
Name=Pharlap
Comment=Configure third-party and proprietary drivers
Icon=hwinfo
Exec=/usr/bin/pharlap
Terminal=false
Type=Application
Categories=KDE;GNOME;GTK;Settings;DesktopSettings;HardwareSettings;
