/*
** SCROLLBARS - HANDLED IN GTK
*/

/*
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

::-webkit-scrollbar-track {
  background: rgba(192, 192, 192, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;

  background: rgba(128, 128, 128, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 128, 128, 0.4);
}
*/

html, body { height: 100%, overflow-x: hidden; overflow-y: hidden }

html { overflow-y: scroll }

footer {
  z-index: 1038;
}
