/*
** CURTAIN
*/

.curtain {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.curtain-loader {
  position: fixed;
  height: 64px;
  margin-top: -32px;
  padding: 0 64px;
  text-align: center;
  top: 50%;
  width: 100%;
}

.curtain-loader > .status {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px;
  text-align: center;
}

.curtain-loader > .sub-status {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  text-align: center;
}

.curtain-loader > .loader {
  display: inline-block;
  margin: 32px;
  text-align: center;
}

/*
** DEVICE LOGOS
*/

.device-block .device-logo {
  float: left;
  height: 48px;
  position: relative;
  top: 0;
  width: 48px;
}

.device-block .device-details {
  margin-bottom: 16px;
  padding-left: 56px;
}

.device-block .device-details p {
  font-size: 14px;
  margin-bottom: 0;
}

.device-block .driver-details .title {
  font-weight: 600;
}

.device-block .driver-details:hover {
}

.device-block .driver-details .version,
.device-block .driver-details .summary {
  font-size: 14px;
  line-height: 14px;
}

.device-block .device-details h1 {
  font-size: 20px;
  line-height: 20px;
  margin: 6px 0 0 0;
  padding: 4px 0 0 0;
}

.device-block .device-details h2 {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0 0 10px 0;
}

.device-block .device-details .device-modules ul {
  list-style-type: none;
  padding-left: 0;
}

.device-block .device-details .device-modules ul li span.label {
  float: right;
  line-height: 14px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
}

.center-128 {
  height: 128px;
  margin-top: -64px;
  text-align: center;
  top: 50%;
}

.no-driver-label {
  margin-top: 32px;
  text-align: center;
}

/*
** FOOTER
*/

footer { z-index: 1038; }

/*
** TABS
*/

.nav-tabs > li > a { font-size: 16px; }
.nav-tabs > li > a > .fa { font-size: 14px; }

.sidebar {
  position: fixed;
  width: 164px;
}


/*
** NO-ANIMATIONS
*/

.modal.fade.no-animation {
  opacity: 1!important;
}

.modal.fade.no-animation .modal-dialog ,
.modal.in.no-aminmation .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.fade.no-animation {
  opacity: 0.8!important;
}
